@import "images";

table tbody tr:hover {
  background-color: #dfe1e3;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-collapse,
.navbar.navbar-inverse .navbar-form,
.navbar-inverse .nav > li > a {
  border: none !important;
}

.navbar-inverse .collapse {
  display: flex !important;
}

.navbar-inverse .nav > li > a {

}

.modal.active {
  display: block;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}
